@import "./base.css";

button,
.btn {
  border: none;
  cursor: pointer;
}

/* Size */
.btn-large {
  width: 100%;
  /* margin-top: var(--space-); */
  padding: var(--space-m);
}

.btn-small {
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--radius-xl);
  font-size: var(--step--1);
  font-weight: var(--font-weight-bold);
  transition: all 0.2s ease;
}

/* Colors */
.btn-blue {
  background-color: var(--color-blue);
  color: white;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  .btn-blue:hover {
    background-color: var(--color-blue-hover);
  }
}

@media (hover: none) {
  .btn-blue:active {
    background-color: var(--color-blue-hover);
  }
}

.btn-green {
  background-color: var(--color-green);
  color: white;
  border: none;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  .btn-green:hover {
    background-color: var(--color-green-hover);
  }
}

@media (hover: none) {
  .btn-green:active {
    background-color: var(--color-green-hover);
  }
}

.btn-border {
  border: 1px solid #0e0e0e;
  background-color: transparent;
  color: inherit;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  .btn-border:hover {
    background-color: black;
    color: white;
  }
}

.btn-border:active {
  background-color: black;
  color: white;
}

.btn-grey {
  background-color: var(--color-grey-button);
  color: inherit;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  .btn-grey:hover {
    background-color: var(--color-grey-hover);
  }
}

@media (hover: none) {
  .btn-grey:active {
    background-color: var(--color-grey-hover);
  }
}

/* Individual styles for buttons */

input::file-selector-button {
  padding: var(--space-s) var(--space-m);
  background-color: var(--color-grey-button);
  color: inherit;
  border: 1px solid var(--color-grey-border);
  border-radius: var(--radius-xl);
  font-size: var(--step--1);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: all 0.2s ease;
}

input::file-selector-button:hover {
  background-color: var(--color-grey-hover);
}

/* logout-button */
@media (max-width: 450px) {
  .btn-logout {
    display: none;
  }
}

/* date-filter-buttons */
.date-filter__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.date-filter__button {
  padding: var(--space-xs) var(--space-s);
  border: 1px solid var(--color-grey-border);
  border-radius: var(--radius-xl);
  background-color: white;
  color: #4b5563;
  font-size: var(--step--1);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  .date-filter__button:hover {
    border-color: black;
    scale: 1.02;
  }
}

@media (hover: none) {
  .date-filter__button:active {
    border-color: black;
  }
}

.date-filter__button--active {
  background-color: #333;
  border-color: black;
  color: white;
}

.date-filter__button--active:hover {
  background-color: #000;
  border-color: black;
  color: white;
}

/* close-edit-expense-form-button */
.btn-close-edit {
  position: absolute;
  top: var(--space-s);
  right: var(--space-m);
  background: transparent;
  border: none;
  font-size: var(--step-2);
  cursor: pointer;
  padding: 5px;
  line-height: 1;
  color: #555;
  z-index: 10;
}

.btn-delete {
  /* background-color: red;
  color: white; */
  /* border: none; */
  max-width: 100px;
}
