@import "../styles/base.css";

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.navbar__brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  gap: 1rem;
}
